@import '../../../../scss/vars';


//<----MIXIN----->

@mixin circle($top, $left) {
  background: $color-active-hover;
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  top: $top;
  left: $left;
  z-index: 2;
  -webkit-box-shadow: -4px 4px 41px -28px rgb(255, 255, 255);
  -moz-box-shadow: -4px 4px 41px -28px rgb(255, 255, 255);
  box-shadow: -4px 4px 41px -28px rgb(255, 255, 255);



}

@mixin line($top, $left) {
  background: $color-active-hover;
  display:grid;
  width: 15px;
  height: 500px;
  position: relative;
  top: $top;
  left: $left;
  border-radius: 10px;
  z-index: 1;


}

%textRowFourPc {
  position: absolute;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

%text_box_four_Pc {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;



}

%box_for_line{
  position: absolute;
  width: 200px;
  left: 20px;
  
  
  
}



//<-----Style----->

.box_for_line_1{
 @extend %box_for_line;
  top: 250px;
  
}

.box_for_line_2{
  @extend %box_for_line;
   top: 900px;
   
 }

 .box_for_line_3{
  @extend %box_for_line;
   top: 1550px;
   
 }

 .box_for_line_4{
  @extend %box_for_line;
   top: 2200px;
   
 }

.p_four_pc {
  color: $color-base;
  font-size: 20px;
  margin: 0;
  @media(max-width: 1500px){

    font-size: 18px;
    
  }
}

.h2_four_pc {
  color: $color-active-hover;

}





.title_four {
  text-align: center;
  color: $color-base;
  margin-top: 50px;
  margin-bottom: 50px;



}

.font_icon {
  font-size: 110px;

}





.relative_fourPc {
  width: 80%;
  height: 3000px;
  position: relative;
  padding: 0;
  margin: auto;
  margin-bottom: 50px;

  @media(max-width: 1300px){
    width: 100%;
  }


}

//<-----TEXT------>

.box_four_pc_1 {
  @extend %text_box_four_Pc;
  left: 30%;
  top: 75px;

}



.box_four_pc_2 {
  @extend %text_box_four_Pc;
  left: 30%;
  top: 730px;

}

.box_four_pc_3 {
  @extend %text_box_four_Pc;
  left: 30%;
  top: 1380px;

}

.box_four_pc_4 {
  @extend %text_box_four_Pc;
  left: 30%;
  top: 2040px;

}

.box_four_pc_5 {
  @extend %text_box_four_Pc;
  left: 30%;
  top: 2675px;

}









//<-----Animation-Components----->
.circle_1 {
  @include circle(50px, 0px)
}

.line_1 {
  @include line(50%, 50%)
}

.circle_2 {
  @include circle(700px, 0px)
}

.line_2 {
  @include line(50%, 50%);
  
}

.circle_3 {
  @include circle(1350px, 0px)
}

.line_3 {
  @include line(50%, 50%);
  
}

.circle_4 {
  @include circle(2000px, 0px)
}

.line_4 {
  @include line(50%, 50%);
  
}

.circle_5 {
  @include circle(2650px, 0px)
}






@keyframes _down {
  from {
    
    height: 0px;
    
    
  }

  to {
    
    height: 500px;
    
  }
}

._down {
  animation-name: _down;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}